# Database Configuration
# Format: mysql+aiomysql://user:password@host:port/database_name
# Example for local MySQL:
DATABASE_URL=mysql+aiomysql://root:password@localhost/downloader_db

# Other settings
DEBUG=False
# App Runner Settings
# Use 127.0.0.1 for local, 0.0.0.0 for server
APP_HOST=127.0.0.1
# Use True for local development, False for production
APP_RELOAD=True
