APP_KEY=YOUR_RANDOM_SECRET_KEY_HERE
APP_URL=http://127.0.0.1:5000
DEBUG=True
APP_RELOAD=True
API_KEY=pdf_creator_secret_key_2026
# Database Configuration
APP_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=pdf_creator