fastapi
uvicorn[standard]
python-dotenv
jinja2
playwright
fpdf2
docx2pdf
pywin32
pydantic
python-multipart
requests
aiofiles
Pillow
python-docx
pdf2docx
reportlab
mammoth
openpyxl
xlrd
python-pptx
odfpy
striprtf
