@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  --animate-fadeInUp: fadeInUp 0.5s ease-out forwards;

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  font-family: var(--font-inter);
}

.text-primary {
  color: #ff0000;
}
.bg-primary {
  background-color: #ff0000;
}
.border-primary {
  border-color: #ff0000;
}
.hero-title {
  font-family: Outfit, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}